* { margin:0px; padding:0px; box-sizing:border-box;
}

#main_grid {
    
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

#bg_count {
    box-sizing: border-box;
    background: #5b77a1;
    padding: 5px;
    padding: 20px;
    border-radius: 15px;
    max-width:350px;
}

    #bg_count > div {
        width:100%;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
    }

        #bg_count > div input {
            width:60%;
        }
        #bg_count > div label {
            overflow:hidden;
            background: #f0f0f0;
            width: 40%;
            color: #222;
            padding: 5px;
        }

#res {
    background: #fff;
    width: 100%;
    padding: 5px;
height: auto;
    padding: 5px; /* this */
    flex-direction: row;

}



    #res p {
        flex-basis: 100%;
       
        border: 1px solid #ccc;
        margin: 0px;
        padding: 0 20px;
       
    }


    /*----Multiplication Table---*/

#bg_multiplication {
    display: flex;
        flex-wrap: wrap;
    margin-left: 20px;
    border-radius: 15px;
    max-width: 400px;
    background: #5b77a1;
    padding: 20px;
}

    #bg_multiplication > div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 100%;
    }

        #bg_multiplication > div input {
            width: 60%;
        }
    #bg_multiplication label {
        overflow: hidden;
        background: #f0f0f0;
        width: 40%;
        color: #222;
        padding: 5px;
    }
    #bg_multiplication h2 {
    color:#fff; padding:20px; 
}
    #txt_table {
    flex-basis: 100%;
    border: 1px solid #ccc;
    margin: 0px;
    padding: 0 20px;
    width:100%; 
    min-height:200px;
    background:#fff;
}

        #txt_table p {
            flex-basis: 100%;
            border: 1px solid #ccc;
            margin: 0px;
            padding: 0 20px;
        }

#btn_multiply {
  
    padding:5px; float:right;
}